.main{
    max-width: 45rem;    ;
    width: 70%;
    margin: 10rem auto;
    background: #fff;
    border-radius: 5px;
    z-index: -100;
    padding: 1rem;
    box-shadow: 0 2px 8px #000003;
}

.actions{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.actions button {
    background: #fff;
    color: #ec6630;
    border: 1px solid #ec6630;
    border-radius: 4px;
    margin: 1rem;
    font-size: 1.3rem;
    padding: 0.7rem 1.4rem;
    cursor: pointer;
    transition: all 0.2s;
}

.actions button:hover,
.actions button:active{
    background-color: #ec6630;
    border-color: #fff;
    color: #fff;
}

.lists{
    list-style: none;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    /* height: 17rem; */
    /* overflow-y: auto; */
}

.lists li{
    background-color: #ec6630;
    margin: 10px;
    padding: 0.4rem 0;
    color: #fff;
    border-radius: 5px;
}